*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
    background: #2f363e;
}
.drag
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 320px;
    gap: 10px;
    cursor: grab;
}
.drag .dragBox
{
    position: relative;
    width: 100px;
    height: 100px;
    background: #0003;
}
.images
{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--img);
    background-size: cover;
}

.reset
{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border: none;
    background: #fff;
    color: #222;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}
.board
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.dropBox
{
    position: relative;
    width: 140px;
    height: 140px;
    background: #0003;
}